<div class="container my-4">
  <main>
    <section>
      <h2 class="text-center p-3">About our Company</h2>
      <p class="text">Welcome to S-Solar Simulator, where innovation meets sustainability in the world of solar energy. we are passionate about providing accessible and reliable solar solutions for individuals, businesses, and communities seeking a cleaner and more sustainable future. Our mission is simple yet powerful: to make solar energy accessible to everyone. We believe in harnessing the sun's limitless power to create a more sustainable and eco-friendly world. By offering high-quality solar kits, we empower individuals and organizations to take control of their energy needs, reduce their carbon footprint, and contribute to a greener planet.</p>
    </section>
    <section>
      <h2 class="text-center p-3">Our Mission</h2>
      <p class="text">To be the leading online platform for providing high-quality solar kits tailored to meet the energy needs of homes, farms, and companies, promoting sustainability and environmental consciousness worldwide.</p>
    </section>

    <section>
      <h2 class="text-center p-3">Our Vision</h2>
      <p class="text">Our mission is to empower individuals, farms, and companies to harness the power of solar energy by offering reliable and efficient solar kits through an accessible and user-friendly online platform. We strive to deliver exceptional customer service, educate our customers about the benefits of solar energy, and contribute to a cleaner and greener future for generations to come.</p>
    </section>

    <section>
      <h2 class="text-center p-3">Our Team</h2>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card my-1">
            <div class="card-body text-center">
              <h1>Seddik SAROUTE</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card my-1">
            <div class="card-body text-center ">
              <h1>Omar BENJLIL</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="card-body text-center">
              <h1>Redouane KHAM</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="card-body text-center">
              <h1>Omar Eloumami</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
      <h2 class="text-center p-3">Thank you</h2>

<div class="d-flex">
  <div class="card mb-3 hello" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "Wagon", class: "img-fluid rounded-start ", alt: "le Wagon" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Le Wagon</h5>
          <p class="card-text text">Thank you to the entire team at Le Wagon, for all your support during the project weeks. Your guidance, encouragement, and expertise have been instrumental in helping us navigate through the challenges and complexities of our projects. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 hello" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag "job", class: "img-fluid rounded-start ", alt: "jobintech" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">JobInTech</h5>
          <p class="card-text text">We are truly grateful for this invaluable support that enables us to pursue our passion for coding and advance our skills in the tech industry. Thank you again for your belief in our potential and for investing in our future success.</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
