<div class="container my-4">
  <main>
    <section>
      <h2 class="text-center p-3">Our Mission</h2>
      <p class="text">To be the leading online platform for providing high-quality solar kits tailored to meet the energy needs of homes, farms, and companies, promoting sustainability and environmental consciousness worldwide.</p>
    </section>

    <section>
      <h2 class="text-center p-3">Our Vision</h2>
      <p class="text">Our mission is to empower individuals, farms, and companies to harness the power of solar energy by offering reliable and efficient solar kits through an accessible and user-friendly online platform. We strive to deliver exceptional customer service, educate our customers about the benefits of solar energy, and contribute to a cleaner and greener future for generations to come.</p>
    </section>

    <section>
      <h2 class="text-center p-3">Our Team</h2>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card my-1">
            <div class="card-body text-center">
              <h1>John Doe</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card my-1">
            <div class="card-body text-center ">
              <h1>John Doe</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="card-body text-center">
              <h1>John Doe</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="card-body text-center">
              <h1>John Doe</h1>
              <p class="title">Student</p>
              <p>At Le Wagon</p>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <p class="my-1"><button class="btn btn-info">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  
</div>
