<div class="container"><body>
  <header>
    <h1>F.A.Q:</h1>
    <!-- Le menu de navigation peut être ajouté ici -->

  </header>


  <main>

    <section>

      <h3><i><strong>What is meant by renewable energy?</strong></h3></i>
      <p>It is the energy accumulated from renewable sources that are naturally reloaded.</p>

    </section>

    <section>

      <h3><i><strong>What is the solar energy?</strong></h3></i>
      <p>Solar energy is defined as the transformation of energy that is present in the sun and is one of the renewable energies. Once the sunlight passes through the earth’s atmosphere, most of it is in the form of visible light and infrared radiation.</p>
        </section>

    <section>

      <h3><i><strong>What are the advantages?</strong></i></h3>
      <p><strong>Clean:</strong> It is considered to be the cleanest form of energy as there is no carbon dioxide emission like in the case of fossil fuels which is one of the causes of global warming.</p>
      <p><strong>Renewable:</strong> There is ample energy available on earth as long as the sun exists.</p>
      <p><strong>Reliable:</strong> The energy can be stored in the batteries, so there is no unreliability.</p>

    </section>

    <section>
      <h3><i><strong>What are the drawbacks of solar energy?</strong></i></h3>
      <p>- The production is relatively slow during cloudy days and cold seasons.</p>
      <p>- Initial cost and installation are expensive.</p>
      <p>- It requires large surface areas for consumer-level production.</p>
    </section>
  </main>

  <footer>
    <!-- Le contenu du pied de page peut être ajouté ici -->
  </footer>
</body>
</div>
