<div class="container"><body>
  <header>
    <h1>F.A.Q:</h1>
    <!-- Le menu de navigation peut être ajouté ici -->

  </header>

  <main>

    <section>
      <h2>Question 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
    <section>
      <h3><i><strong>What is the solar energy?</strong></h3></i>
      <p>Solar energy is defined as the transformation of energy that is present in the sun and is one of the renewable energies. Once the sunlight passes through the earth’s atmosphere, most of it is in the form of visible light and infrared radiation.</p>
        </section>
    <section>
      <h2>Question 2</h2>
      <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </section>
    <section>
      <h3><i><strong>What are the drawbacks of solar energy?</strong></i></h3>
      <p>- The production is relatively slow during cloudy days and cold seasons.</p>
      <p>- Initial cost and installation are expensive.</p>
      <p>- It requires large surface areas for consumer-level production.</p>
    </section>
  </main>
  <footer>
    <!-- Le contenu du pied de page peut être ajouté ici -->
  </footer>
</body>
</div>
