<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner">
  <div class="container">
  <div class="banner-content" style="text-align:center;">
    <h1>Solar Energy Services at Your Doorstep</h1>
    <p class="text">Welcome to our solar kit store! Here,
     you can explore our range of solar kits
      tailored to meet your energy needs.
       Calculate the perfect solar solution
        based on your monthly electricity consumption,
         making a wise investment while contributing
          to a greener world. Start your journey towards
           sustainable energy today!</p>
    <a href="<%= new_simulation_path %>" class="btn btn-outline-success btn-lg custom-button">
      <i class="fa-solid fa-calculator"></i> Start your simulation
    </a>
    </div>
  </div>


<div class="container d-flex flex-wrap">
  <div class="card my-5" style="width: 15rem;">
    <div class="card-body">
      <h4 class="card-title"><strong>Save Money </strong></h4>
      <br>


      <p class="card-text" style="text-align:justify;">Reduce Your Electricity Bills And Make Eco-Friendly Choices. GO GREEN !</p>
    </div>
  </div>
  <div class="card my-5" style="width: 15rem;">
    <div class="card-body">
      <h4 class="card-title"><strong>Efficiency</strong></h4>
      <br>
         <p class="card-text" style="text-align:justify;">Maximize Efficiency And Optimize Your Energy Consumption With Our Solar Solutions</p>
    </div>
  </div>
  <div class="card my-5" style="width: 15rem;">
    <div class="card-body">
      <h4 class="card-title"><strong>Easy Simulation</strong></h4>
      <br>
         <p class="card-text" style="text-align:justify;">Instantly Simulate Your Energy Needs With Our Tools</p>
    </div>
  </div>
  <div class="card my-5" style="width: 15rem;">
    <div class="card-body">
      <h4 class="card-title"><strong>Right Solar Kit</strong></h4>
      <br>
        <p class="card-text" style="text-align:justify;">Select The Perfect Solar Kit Adapted To Your Energy Needs</p>
    </div>

  </div>
</div>
<div>

<div style="background-color: black; color: white; padding: 10px;">
    <p class="fs-1 text-center">Solar Energy Project Success Stories</p>
</div>
<div class="container mt-3">
<section class="ara">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="cardo">
				<div class="cover item-a">
					<h1>Solar <br>Energy <br>Project<br> in India</h1>
					<%# <span class="price">$79</span> %>
					<div class="card-back">
						<a href="#">In India, solar energy projects have transformed the lives of millions in
rural areas by providing access to electricity. One notable initiative is the
Solar Electrification Program, which aims to bring clean and affordable
energy to remote villages.</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="cardo">
				<div class="cover item-b">
					<h1>Solar <br>Energy <br>Project<br> in Rwanda</h1>
					<%# <span class="price">$35</span> %>
					<div class="card-back">
						<a href="#">In Rwanda, solar energy projects have brought light to communities that
were previously off the grid. The country's ambitious target to achieve
universal electricity access has been supported by innovative projects like
the Scaling Solar program.</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="cardo">
				<div class="cover item-c">
					<h1>Solar <br>Energy <br>Project<br> in Morocco</h1>
					<%# <span class="price">$155</span> %>
					<div class="card-back">
						<a href="#">In Morocco, solar energy initiatives have illuminated communities that previously lacked access to the grid. The nation's determined goal to achieve universal electricity access has been bolstered by groundbreaking projects such as the Noor Solar Power Complex. Through innovative approaches, Morocco is paving the way towards a sustainable and electrified future for all its citizens.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>

<div style="background-color: black; color: white; margin-top: 6px;">
    <p class="fs-1 text-center">Reviews</p>
</div>

<div class="container mt-3">
  <div class="notification my-3">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="notification-content">
      <p><small>14th January</small></p>
      <p>Excellent service and fast delivery! I recently purchased a solar kit from this website and I am extremely satisfied with the quality and performance. The installation process was straightforward, and the customer support team was very helpful. I highly recommend their products to anyone looking for reliable solar solutions.</p>
    </div>
  </div>
  <div class="notification my-3">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p>After researching various solar kit options, I decided to buy from this website, and it was a great decision. The solar kit exceeded my expectations, and the energy efficiency is impressive. The website provided detailed information, making it easy to choose the right kit for my needs. I'm thrilled with my purchase!</p>
    </div>
  </div>
</div>
