<style>
  .card {
    transition: box-shadow 0.9s ease;
    border: 2px solid transparent;
  }

  .card:hover {
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
    border-color: #008000;
  }
</style>

  <div class="container my-5"><div class="card">
  <div class="card-header bg-white">
    We have received your message
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @contact.message %></p>
      <footer class="blockquote-footer">We will contact you <cite title="Source Title">Soon</cite></footer>
    </blockquote>
  </div>
  <%= link_to "Go to home page", root_path, class: "btn btn-success btn-lg" %>
</div>
</div>
