<style>
  .card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    padding: 20px;
  }
  .price {
    color: #008000;
    font-size: 20px;
    font-weight: bold;
  }
  .power {
    color: #333;
    font-size: 18px;
  }
</style>
<div class="container">
  <h1 class="text-center my-4 p-1">Our Solar Kits</h1>
  <div class="row">
    <% @solarkits.each do |solarkit| %>
      <div class="col-md-4">
        <div class="card my-2">
          <%= image_tag(solarkit.image, class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title text-center"><span class="power"><a><i class="fa-sharp fa-solid fa-battery-full"></i></i></a><br> <%= solarkit.power %> Wc</span></h5>
            <h5 class="text-center mb-3"><span class="price"><a><i class="fa-solid fa-money-check-dollar"></i></a> <br><%= solarkit.price %> MAD</span></h5>
            <p class="text-center"><a href="#" class="btn btn-success btn-sm"></a></p>
            <%= link_to"View Details", solarkit_path(solarkit.id), class:"btn btn-outline-success rounded-pill border border-5 border border-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
