.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("banner.jpg"); 
  background-size: cover;
  background-position: center;
}

.banner h1 {
  padding: 16px 34px;
  color: white;
  font-weight: 800;
  font-size: 45px;
}

.banner p {
  padding: 16px 34px;
  color: white;
  opacity: .8;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.banner .btn {
  margin: 16px 34px;
  padding: 16px 34px;
  border-radius: 0px;
  text-align: left;
}
