<div class="container mt-3">
<h1>Your report </h1>
<% @report.simulation%>
  <p>Votre consommarion journalière est <%= @report.daily_consumption %>Wh/j</p>
  <p>Le kit solaire qu'on vous propose a une
  <%= render partial: "power", locals: { report: @report } %>
</p>
</div>
